@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w8vuo2');
  src:  url('fonts/icomoon.eot?w8vuo2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w8vuo2') format('truetype'),
    url('fonts/icomoon.woff?w8vuo2') format('woff'),
    url('fonts/icomoon.svg?w8vuo2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quit:before {
  content: "\2715";
}
.icon-stats:before {
  content: "\25d4";
}
.icon-edit:before {
  content: "\270e";
}
.icon-continue:before {
  content: "\2771";
}
.icon-word:before {
  content: "\2630";
}
.icon-language:before {
  content: "\25c9";
}
.icon-user:before {
  content: "\263b";
}
.icon-remove:before {
  content: "\2796";
}
.icon-add:before {
  content: "\271a";
}
.icon-wrong:before {
  content: "\2716";
}
.icon-exit:before {
  content: "\2716";
}
.icon-right:before {
  content: "\2713";
}
