@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xb0ofc');
  src:  url('fonts/icomoon.eot?xb0ofc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xb0ofc') format('truetype'),
    url('fonts/icomoon.woff?xb0ofc') format('woff'),
    url('fonts/icomoon.svg?xb0ofc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\1f4dd";
}
.icon-continue:before {
  content: "\2771";
}
.icon-word:before {
  content: "\1f4d4";
}
.icon-language:before {
  content: "\1f30e";
}
.icon-user:before {
  content: "\1f471";
}
.icon-remove:before {
  content: "\2796";
}
.icon-add:before {
  content: "\2795";
}
.icon-wrong:before {
  content: "\2717";
}
.icon-right:before {
  content: "\2713";
}
