html, body {
    height: 100%;
    width: 100%;

    color: #3E3E3E;
    font-family: sans-serif;
}

body {
    background-repeat: repeat;
    background-color: #E4DDCA;
}

button, select, input {outline: none;}
button, select {cursor: pointer;}

button {
    background: transparent;
    border: none;
}

p {
    margin: 0;
    padding: 0;
}

.icon {
    padding: 0;
    font-size: 25px;
    color: #e2e2da;
}

.exitButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 20px;
    padding: 3px;

    color: #888;
    cursor: pointer;
}

.exitButton:hover {color: #e00;}

#backgroundTree {
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
}
