#fixedContent * {z-index: 3;}


/* Leftover
    ========================================================================== */

#fixedLeftover {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;

    background-color: #000;
    opacity: 0.3;
    
    z-index: 2;
}


/* Log
    ========================================================================== */

#fixedLog {
    position: fixed;
    top: 20px;
    left: 50%;
}

#fixedLogMsj {
    display: none;
    position: relative;
    left: -50%;

    padding: 8px 15px;
    border-radius: 10px;
    text-align: center;
    cursor: default;
}


/* Loading Bar
    ========================================================================== */

#fixedLoadingBar {
    display: none;
    position: fixed;
    top: 0;
    left: 20%;
    right: 20%;

    height: 7px;

    border: 1px solid #929292;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    overflow: hidden;
    background-color: #E0D5B7;
}

#fixedLoadingBarProgress {
    width: 0%;
    background-color: #00C000;
}


/* Exit button (from main)
    ========================================================================== */

#fixedExit {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px 20px 10px;

    border: none;
    border-bottom-right-radius: 100%;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    font-size: 18px;
    color: #575048;
    background: #e2e2da;

    z-index: 3;
}

#fixedExit:hover {color: #e00;}


/* Edit Buttons
    ========================================================================== */

#fixedEditButtons .icon {
    position: fixed;
    border: none;

    color: #575048;
    background: transparent;
}

#fixedEditButtons .icon:hover {color: #777068;}

#fixedEditTrigger {
    top: 5px;
    left: 10px;
    padding: 5px 5px 10px 5px;

    font-size: 40px;
}

#fixedEditSubButtons,
#fixedEditSubSubButtons {
    display: none;
}

#fixedEditSubButtons .subButton {
    left: 15px;
    height: 40px;
    width: 40px;
}

#fixedEditSubSubButtons .subSubButton {
    height: 40px;
    width: 30px;
    font-size: 20px;
}

#fixedEditUser {top: 55px;}
#fixedEditLang {top: 95px;}
#fixedEditWord {top: 135px;}
#fixedEditAdd {left: 55px;}
#fixedEditRemove {left: 85px;}


/* Edit Menu
    ========================================================================== */

#fixedEditMenu {
    display: none;
    position: fixed;
    top: 15%;

    max-height: 75%;
    width: 500px;
    max-width: 80%;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

    background-color: #e2e2da;
    overflow-y: auto;
}

#fixedEditMenu * {text-align: center;}
#fixedEditMenu .exitButton {font-size: 16px;}

#fixedEditMenuForm {
    max-width: 90%;
    margin: 20px auto 10px auto;
}

#fixedEditMenuTitle {
    margin: 10px auto;

    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    cursor: default;
}

#fixedEditMenuSubmit {
    border: none;
    border-radius: 10px;

    color: #575048;
    background-color: transparent;
}

#fixedEditMenuSubmit:hover {color: #777068;}


#fixedEditMenuForm input[type=text] {
    display: block;
    margin: 10px auto;
    padding: 0 10px;

    height: 30px;
    
    border: 1px solid #AEAEAE;
    border-radius: 10px;
}

#fixedEditMenuForm input[type=number] {
    display: block;
    margin: 10px auto;

    height: 30px;
    
    border: 1px solid #AEAEAE;
    border-radius: 10px;
}

#fixedEditMenuForm select {
    display: block;
    margin: 5px auto;
    padding: 0 15px;

    height: 30px;
    min-width: 40%;
    max-width: 90%;
}

#fixedEditMenuSelectUser, #fixedEditMenuSelectLang {text-transform: capitalize;}

#fixedEditMenuForm textarea {
    display: block;
    margin: 10px auto;
    padding: 5px;

    min-width: 60%;
    max-width: 90%;
}


/* Stats Button
    ========================================================================== */

#fixedStatsButton {
    position: fixed;
    top: 5px;
    left: 75px;
    padding: 5px;

    border: none;

    font-size: 40px;
    color: #575048;
    background: transparent;

    z-index: 1;
}

#fixedStatsButton:hover {color: #777068;}


/* Stats Menu
    ========================================================================== */

#fixedStatsMenu {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;

    max-height: 80%;
    max-width: 1000px;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

    background-color: #e2e2da;
    overflow-y: auto;
}

#fixedStatsMenu * {text-align: center;}
#fixedStatsMenu .exitButton {font-size: 16px;}


#fixedStatsMenuForm {
    max-width: 90%;
    margin: 20px auto 10px auto;
    cursor: default;
}

#fixedStatsMenuTitle {
    margin: 10px auto;

    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
}

#fixedStatsMenu select {
    display: block;
    margin: 5px auto;
    padding: 0 15px;

    height: 30px;
    min-width: 25%;
    max-width: 100%;

    text-transform: capitalize;
}

#fixedStatsMenuSubmit {
    border: none;
    border-radius: 10px;

    color: #575048;
    background-color: transparent;
}

#fixedStatsMenuSubmit:hover {color: #777068;}


#fixedStatsMenuInfo {
    max-width: 100%;
    border-top: 1px solid #AEAEAE;
    cursor: default;
}

#fixedStatsMenuLanguage {
    margin: 10px auto 5px auto;

    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
}

#fixedStatsMenuInfo01, #fixedStatsMenuInfo02 {
    float: left;
    width: 50%;
}

#fixedStatsMenuInfo01 *, #fixedStatsMenuInfo02 * {
    margin: 7px auto;

    font-weight: bold;
    font-size: 1em;
}

#fixedStatsMenuInfo01 * {
    margin-right: 3px;
    text-align: right;
}

#fixedStatsMenuInfo02 * {
    margin-left: 3px;
    text-align: left;
}


#fixedStatsMenuTable {
    max-width: 95%;
    margin: 20px auto;
    cursor: default;
}

#fixedStatsMenuTable * {padding: 3px;}
#fixedStatsMenuTable th {padding: 10px 8px 3px 8px;}
#fixedStatsMenuTable tr:hover {font-weight: bold;}

#fixedStatsMenuTable .alignLeft {
    padding-left: 3px;
    text-align: left;
}

#fixedStatsMenuTable .letterSeparator {
    padding-top: 8px;
    border-bottom: 1px solid #AEAEAE;
    font-weight: bold;
    text-transform: uppercase;
}