#mainContent {
    height: 100%;
    width: 100%;
}

#mainContent .container {
    display: none;
    position: relative;
    top: 15%;

    max-height: 75%;
    width: 500px;
    max-width: 80%;

    margin: 0 auto;
    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    background-color: #e2e2da;
    overflow-y: auto;
}

#mainContent * {text-align: center;}


/* Exit button */

#fixedExit {
    display: none;
    position: fixed;
    top: 10px;
    left: 15px;
    padding: 5px;

    border: none;

    font-size: 30px;
    color: #575048;
    background: transparent;

    z-index: 3;
}

#fixedExit:hover {color: #777068;}


/* Intro */

#introContainer {padding-bottom: 10px;}

#introContainer .introUser,
#introContainer .introLanguage,
#introContainer .noInfo {
    display: block;

    border: none;

    font-weight: normal;
    text-transform: capitalize;
    background: transparent;
}

#introContainer .introUser,
#introContainer .noInfo {
    margin: 20px auto 8px auto;
    font-size: 1.4em;
    cursor: default;
}

#introContainer .introLanguage {
    margin: 8px auto;
    font-size: 1em;
}

#introContainer .introLanguage:hover {color: #878078;}

#introContainer .noInfo {text-transform: none;}


/* Quiz */

#quizForm {
    max-width: 90%;
    margin: 25px auto;
}

#quizTranslate {
    display: block;
    font-size: 1.8em;
}

#quizDescription{
    display: block;
    margin-top: 3px;
    font-size: 1em;
}

#quizTranslation {
    height: 45px;
    width: 100%;

    margin-top: 10px;

    border: 1px solid #AEAEAE;
    border-radius: 10px;

    font-size: 1.2em;
    background-color: #f5f5f0;
}


/* File */

#fileText {
    max-width: 90%;
    margin: 20px auto 15px auto;
    cursor: default;
}

#fileText p {margin: 10px auto;}
#fileText .fileTextBig {font-size: 2.5em;}
#fileText .fileTextMed {font-size: 1.5em;}

#fileText .fileTextWrong {
    margin-top: 15px;
    color: #E00;
}


#fileButtons * {
    display: none;
    float: left;
    height: 40px;

    border: none;
    border-top: 1px solid #AEAEAE;
    
    background-color: transparent;
}

#fileButtonRight {
    width: 50%;
    border-right: 1px solid #AEAEAE;
    color: #229022;
}

#fileButtonWrong {
    width: 50%;
    font-size: 22px;
    color: #FF2222;
}

#fileButtonContinue {
    width: 100%;
    height: 45px;
    color: #676058;
}

#fileButtonRight:hover {font-size: 28px;}
#fileButtonWrong:hover {font-size: 25px;}
#fileButtonContinue:hover {font-size: 28px;}