html, body {
    height: 100%;
    width: 100%;

    color: #3E3E3E;
    font-family: sans-serif;
}

body {
    background-position: right top;
    background-size: cover;
    background-image: url("../img/background.png");
    background-color: #E4DDCA;
}

button {cursor: pointer;}

p {
  margin: 0;
  padding: 0;
}

.icon {
    padding: 0;
    font-size: 25px;
    color: #e2e2da;
}



/* Fixed Content
    ========================================================================== */

#fixedContent * {z-index: 9999;}

/* Log */

#fixedLog {
    position: fixed;
    top: 20px;
    left: 50%;
}

#fixedLogMsj {
    position: relative;
    left: -50%;

    padding: 8px 15px;
    border-radius: 20px;
    text-align: center;
    cursor: default;
}


/* Edit Buttons */

#fixedEditButtons .icon {
    position: fixed;
    border: none;

    color: #575048;
    background: transparent;
}

#fixedEditButtons .icon:hover {color: #777068;}

#fixedEditTrigger {
    top: 5px;
    left: 10px;
    padding: 5px 5px 10px 5px;

    font-size: 40px;
}

#fixedEditSubButtons .subButton {
    left: 15px;
    height: 40px;
    width: 40px;
}

#fixedEditSubSubButtons .subSubButton {
    height: 40px;
    width: 30px;
    font-size: 20px;
}

#fixedEditUser {top: 55px;}
#fixedEditLang {top: 95px;}
#fixedEditWord {top: 135px;}
#fixedEditAdd {left: 55px;}
#fixedEditRemove {left: 85px;}


/* Edit Menu */

#fixedEditMenu {
    position: fixed;
    top: 15%;

    max-height: 75%;
    width: 500px;
    max-width: 80%;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

    background-color: #e2e2da;
    overflow-y: scroll;
}

#fixedEditMenu * {text-align: center;}

#fixedEditMenuForm {
    max-width: 90%;
    margin: 20px auto 10px auto;
}

#fixedEditMenuTitle {
    margin: 10px auto;

    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
}

#fixedEditMenuSubmit {
    border: none;
    border-radius: 10px;

    color: #575048;
    background-color: transparent;
}

#fixedEditMenuSubmit:hover {color: #777068;}


#fixedEditMenuForm input[type=text] {
    display: block;
    margin: 10px auto;
    padding: 0 10px;

    height: 30px;
    
    border: 1px solid #AEAEAE;
    border-radius: 10px;
}

#fixedEditMenuForm select {
    display: block;
    margin: 5px auto;
    padding: 0 15px;

    height: 30px;
    min-width: 40%;
    max-width: 90%;

    text-transform: capitalize;
}

#fixedEditMenuForm textarea {
    display: block;
    margin: 10px auto;
    padding: 5px;

    min-width: 60%;
    max-width: 90%;
}


/* Stats Button */

#fixedStatsButton {
    position: fixed;
    top: 5px;
    left: 75px;
    padding: 5px;

    border: none;

    font-size: 40px;
    color: #575048;
    background: transparent;

    z-index: 9997;
}

#fixedStatsButton:hover {color: #777068;}


/* Stats Menu */

#fixedStatsMenu {
    position: fixed;
    top: 15%;

    max-height: 75%;
    width: 800px;
    max-width: 80%;

    border-radius: 10px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

    background-color: #e2e2da;
    overflow-y: scroll;
}

#fixedStatsMenu * {text-align: center;}


#fixedStatsMenuForm {
    max-width: 90%;
    margin: 20px auto 10px auto;
}

#fixedStatsMenuTitle {
    margin: 10px auto;

    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
}

#fixedStatsMenu select {
    display: block;
    margin: 5px auto;
    padding: 0 15px;

    height: 30px;
    min-width: 25%;
    max-width: 100%;

    text-transform: capitalize;
}

#fixedStatsMenuSubmit {
    border: none;
    border-radius: 10px;

    color: #575048;
    background-color: transparent;
}


#fixedStatsMenuInfo {
    max-width: 100%;
    border-top: 1px solid #AEAEAE;
}

#fixedStatsMenuLanguage {
    margin: 10px auto 5px auto;

    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
}

#fixedStatsMenuInfo01, #fixedStatsMenuInfo02 {
    float: left;
    width: 50%;
}

#fixedStatsMenuInfo01 *, #fixedStatsMenuInfo02 * {
    margin: 7px auto;

    font-weight: bold;
    font-size: 1em;
}

#fixedStatsMenuInfo01 * {
    margin-right: 3px;
    text-align: right;
}

#fixedStatsMenuInfo02 * {
    margin-left: 3px;
    text-align: left;
}


#fixedStatsMenuTable {
    max-width: 95%;
    margin: 20px auto;
}

#fixedStatsMenuTable * {padding: 3px;}
#fixedStatsMenuTable th {padding: 10px 8px 3px 8px;}

#fixedStatsMenuTable .alignLeft {
    padding-left: 3px;
    text-align: left;
}


/* Leftover */

#fixedLeftover {
    position: fixed;
    height: 100%;
    width: 100%;

    background-color: #000;
    opacity: 0.3;
    
    z-index: 9998;
}



/* Main Content
    ========================================================================== */

#mainContent {
    height: 100%;
    width: 100%;
}

#mainContent .container {
    position: relative;
    top: 15%;

    max-height: 75%;
    width: 500px;
    max-width: 80%;

    margin: 0 auto;
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

    background-color: #e2e2da;
    overflow-y: scroll;
}

#mainContent * {text-align: center;}


/* Intro */

#introContainer {padding-bottom: 10px;}

#introContainer .introUser,
#introContainer .introLanguage,
#introContainer .noInfo {
    display: block;

    border: none;

    font-weight: normal;
    text-transform: capitalize;
    background: transparent;
}

#introContainer .introUser,
#introContainer .noInfo {
    margin: 20px auto 8px auto;
    font-size: 1.4em;
    cursor: default;
}

#introContainer .introLanguage {
    margin: 8px auto;
    font-size: 1em;
}

#introContainer .introLanguage:hover {color: #878078;}

#introContainer .noInfo {text-transform: none;}


/* Quiz */

#quizForm {
    max-width: 90%;
    margin: 25px auto;
}

#quizTranslate {
    font-size: 1.8em;
    text-transform: capitalize;
}

#quizTranslation {
    height: 45px;
    width: 100%;

    margin-top: 10px;

    border: 1px solid #AEAEAE;
    border-radius: 10px;

    font-size: 1.2em;
    background-color: #f5f5f0;
}


/* File */

#fileText {
    max-width: 90%;
    margin: 20px auto 15px auto;
    cursor: default;
}

#fileText p {margin: 10px auto;}
#fileText .fileTextBig {font-size: 2em;}
#fileText .fileTextMed {font-size: 1.5em;}


#fileButtons * {
    float: left;
    height: 40px;

    border: none;
    border-top: 1px solid #AEAEAE;
    
    background-color: transparent;
}

#fileButtonRight {
    width: 50%;
    border-right: 1px solid #AEAEAE;
    color: #229022;
}

#fileButtonWrong {
    width: 50%;
    font-size: 22px;
    color: #FF2222;
}

#fileButtonContinue {
    width: 100%;
    height: 45px;
    color: #676058;
}

#fileButtonRight:hover {font-size: 28px;}
#fileButtonWrong:hover {font-size: 25px;}
#fileButtonContinue:hover {font-size: 28px;}