body.noScroll {overflow: hidden !important;}

.projectIntroContainer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    z-index: 999;

    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

.projectIntroBack {
    position: fixed;
    width: 100%;
    height: 100%;

    background: #000;
    opacity: 0.4;
}

.projectIntroContent {
    position: absolute;
    display: flex;
    height: 100%;
    max-height: 350px;

    margin: 0;
    padding: 0;

    border-radius: 8px;
    overflow: hidden;
    z-index: inherit;

    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    background-color: #f0f2f1;

    transition: max-width 1.5s;
    -moz-transition: max-width 1.5s;
    -webkit-transition: max-width 1.5s;
}

.projectIntroContent > img {
    height: inherit;
    max-width: 300px;
    object-fit: cover;

    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}

.projectIntroContent > div {
    display: none;
    max-width: 600px;

    box-sizing: border-box;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    white-space: normal;
    line-height: 22px;
    color: #444;
}

.projectIntroContent > div > * {margin: 0;}

.projectIntroContent > div > h2 {
    padding: 25px 30px 10px 30px;
    text-align: center;
}

.projectIntroContent > div > p {padding: 10px 30px 25px 30px;}

.projectIntroContent > div > p br {
    display: block;
    margin-bottom: 5px;
    content: "";
}

.projectIntroContent > span {
    position: absolute;
    top: 0;
    right: 0;

    margin-right: -1px;
    padding: 6px 6px 26px 26px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);

    font-size: 1.72em;
    line-height: 15px;
    color: #f0f2f1;
    background: #999;
    cursor: pointer;
}

.projectIntroContent > span:hover {
    font-weight: bold;
    color: #e00;
}


.projectIntroContent.mobile {
    max-width: 100% !important;
    max-height: 100%;
}


@media screen and (max-width: 900px),
screen and (max-height: 350px) {
    .projectIntroContent {border-radius: unset;}
}

@media screen and (max-width: 700px) {
    .projectIntroContent > img {
        position: absolute;
        width: 100%;
        max-width: unset !important;

        opacity: .1;
        z-index: -1;
    }
    .projectIntroContent > div {max-width: unset !important;}
}

@media screen and (orientation: portrait) {
    .projectIntroContent.mobile > img,
    .projectIntroContent.mobile > div {max-width: 100%;}
}

@media screen and (orientation: landscape) {
    .projectIntroContent.mobile > img {max-width: 40%;}
    .projectIntroContent.mobile > div {max-width: 100%;}
}